<!-- HEADER -->
<%- include('layouts/navbar') %>
<body>
    <main class="login-container">
        <section class="sub-login1">
            <div class="signin">
            <h2 style="color: #84FF84; font-size:33px;text-align:center;">Login to account</h2>
           <form action="/auth/login" method="post" class="form-container">
        <div>
            <label for="username">Username</label><br>
            <input type="email" name="email" id="email" placeholder="Enter email" class="input-field" required>
            <i class="fa-solid fa-envelope envelope2"></i>
        </div>
        <div>
            <label for="password">password</label><br>
            <input type="password" name="password" id="password" placeholder="Enter password" class="input-field" required>
            <i class="fa-solid fa-envelope envelope2"></i>
        </div>
       
              <button type="submit" class="signup-btn"> SIGN IN</button>
           </form>
        </div>
    </section>
    <section class="sub-login2">
        <div class="signin-write">
        <h2 class="login-heading">New Here ?</h2>
        <p class="login-text">Signup and discover a great <br> amount of new opportunities</p>
        <button class="login-btn"><a href="/signup" style="color: #FFFF;text-decoration:none;" > SIGN UP</a></button>
    </div>
    </section>
    </main>
</body>